{% extends 'base.html' %}

{% block title %} Lista retete {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <br><br>
            <form class="d-flex" method="get" action="{% url 'search' %}" role="search">
                    <input name="filter" class="form-control me-2" type="search" placeholder="Search for recipe"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            <br><br><br>
                {% for micdejun in all_micdejuns %}
{#                    <td>{{ forloop }}</td>#}
                <div class="card">
                    <div class="card-header">
                        Mic dejun
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ micdejun.name}}</h5>
                        <p class="card-text">{{ micdejun.small_description }}</p>
                        <a href="#" class="btn btn-primary">Vezi reteta</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}